<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RecipeRater</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="navbar">
        <a href="/Categories">Categories</a>
        <a href="/Ingredients">Ingredients</a>
        <a href="/RecipeCategories">RecipeCategories</a>
        <a href="/RecipeIngredients">RecipeIngredients</a>
        <a href="/Recipes">Recipes</a>
        <a href="/Reviews">Reviews</a>
        <a href="/Users">Users</a>
    </div>

    {{{body}}}

    
    <label for="Search">Search:</label>
    <input type="text" name="name" id="Search">

</body>
</html>